@model PagedList<PlateViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12 text-center">
        <a class="btn btn-success" asp-action="Add">Add plate</a>
        <a class="btn btn-warning" asp-action="Index">Reset sort</a>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <table class="table table-striped">
            <caption class="px-2" style="caption-side:top"><partial name="_PageInfo" model="Model"></partial></caption>
            <thead>
                <tr>
                    <th>Plate</th>
                    <th>Purchase Price</th>
                    <th>
                        <div class="d-flex justify-content-between">
                            <span>Sale Price</span> 
                            @{
                                var sortSalePriceAsc = Context.Request.Query["sortSalePriceAsc"];
                                var nextSortSalePriceAsc = sortSalePriceAsc == "False";
                                string sortClass = ""; 
                                
                                if (!string.IsNullOrEmpty(sortSalePriceAsc)) {
                                    sortClass = nextSortSalePriceAsc ? " sort-desc" : " sort-asc";
                                }
                            }
                            <a class="@($"sort{sortClass}")" title="Toggle sort direction" asp-route-sortSalePriceAsc="@nextSortSalePriceAsc">
                                <i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vm in Model.Items!)
                {
                    <tr>
                        <td>@vm.Plate</td>
                        <td>@vm.PurchasePrice.ToString("C2")</td>
                        <td>@vm.SalePrice.ToString("C2")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><partial name="_PageInfo" model="Model"></partial></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <pager page-number="@Model.PageNumber" page-count="@Model.PageCount">
        </pager>
    </div>
</div>
